* {
  padding: 0;
  margin: 0;
}

.App {
 background-color: #1e2433;
}

.heading {
  margin:110px 500px 10px 60px;
  font-size: 90px;
}

.paragraf {
  color: grey;
  font-size: 25px;
  margin: 0 850px 30px 60px;
}

.cardContainer {
  display: flex;
  background-color: white;
  text-align: left;
}